header {
	width: 100%;
	margin-bottom: 30px;
}

header nav {
	width: 60%;
	margin: 10px auto;
	text-align: center;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline-block;
	width: 25%;
}

header nav ul li a {
	text-decoration: none;
	text-align: center;
	background: #f2f2f2;
	display: block;
	padding: 20px;
	font-size: 1.1em;
	color: #34495e;

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;

	transition: background 1s, color 1s;
	-webkit-transition: background 1s, color 1s;
	-moz-transition: background 1s, color 1s;
	-ms-transition: background 1s, color 1s;
	-o-transition: background 1s, color 1s;
}

header nav ul li a:hover {
	background: #34495e;
	color: #FFF;
}

header nav ul li a.especial {
	background: #6C7A89;
	color: #F2F1EF;	
}

header nav ul li a.especial:hover {
	color: #34495e;	
	background: #ABB7B7;	
}