* {
	margin: 0;
	padding: 0;
}

section.main {
	width: 100%;
	height: 100%;
}

section.contenido {
	width: 80%;
	max-width: 600px;
	background: #ecf0f1;
	margin: 160px auto 0;

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

h1 {
	text-align: center;
	color: #34495e;
	font-size: 4em;
	font-family: 'Slabo 27px', serif;
}

form {
	width: 100%;
	margin-top: 20px;
	padding: 10px 0;
}

form input {
	display: block;
	margin: 20px auto;
	padding: 10px 30px;
	text-align: center;
	background: #bdc3c7;
	font-size: 1.4em;

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

::-webkit-input-placeholder {color: #7f8c8d;}
:-moz-placeholder {color: #7f8c8d;}
::-moz-placeholder {color: #7f8c8d;}
:-ms-input-placeholder {color: #7f8c8d;}

form input[type="submit"] {
	padding: 10px 130px;
	background: #7f8c8d;
	color: #34495e;
	font-family: 'Slabo 27px', serif;
	font-size: 1.5em;
	font-weight: bold;

	transition: background 1s, color 1s;
	-webkit-transition: background 1s, color 1s;
	-moz-transition: background 1s, color 1s;
	-ms-transition: background 1s, color 1s;
	-o-transition: background 1s, color 1s;
}

form input[type="submit"]:hover {
	border: solid #bdc3c7 5px;
	font-size: 1.4em;
	padding: 7px 130px;
}

form input.inicio:hover {
	border: solid #bdc3c7 5px;
	font-size: 1.4em;
	padding: 7px 130px;
	background: #34495e;
	color: #F2F1EF;
}